<search></search>

<clients-list></clients-list>

<div class="info" *ngIf="isLoaded()==true">
  <img src={{getSelectedClient().general.avatar}} alt="avatar">
  <h1 class="first-name">{{getSelectedClient().general.firstName}}</h1>
  <h1 class="last-name">{{getSelectedClient().general.lastName}}</h1>
  <h3 class="job">{{getSelectedClient().job.company}} - {{getSelectedClient().job.title}}</h3>
  <h2>Address:</h2>
  <h3>Street: {{getSelectedClient().address.street}}, City: {{getSelectedClient().address.city}}</h3>
  <h3>ZipCode: {{getSelectedClient().address.zipCode}}, Country: {{getSelectedClient().address.country}}</h3>
  <h2>Contact:</h2>
  <h3>Email: {{getSelectedClient().contact.email}}, Phone: {{getSelectedClient().contact.phone}}</h3>
</div>