<mat-list role="list" >
  <mat-list-item role="listitem" class="item" *ngFor="let client of clients; let i = index" (click)="SelectClient(i)">	
    <img src={{client.general.avatar}} alt="avatar" height="30px" width="30px" class="small-image">
    {{client.general.firstName}},  {{client.job.title}}
  </mat-list-item>
</mat-list>

<div class="info">
  <img src={{selectedClient.general.avatar}} alt="avatar">
  <h1 class="first-name">{{selectedClient.general.firstName}}</h1>
  <h1 class="last-name">{{selectedClient.general.lastName}}</h1>
  <h2>Job:</h2>
  <h3>Title: {{selectedClient.job.company}}</h3>
  <h3>Company name: {{selectedClient.job.title}}</h3>
  <h2>Address:</h2>
  <h3>Street: {{selectedClient.address.street}}, City: {{selectedClient.address.city}}</h3>
  <h3>ZipCode: {{selectedClient.address.zipCode}}, Country: {{selectedClient.address.country}}</h3>
  <h2>Contact:</h2>
  <h3>Email: {{selectedClient.contact.email}}, Phone: {{selectedClient.contact.phone}}</h3>
</div>