img {
    margin-right: 10px;
}

.info {
    left: 400px;
    top: 16px;
    position: fixed;
}

.first-name {
    position: absolute;
    left: 140px;
    top: -15px;
}

.last-name {
    position: absolute;
    left: 140px;
    top: 30px; 
}

.job {
    position: absolute;
    left: 140px;
    top: 70px; 
}