.item {
    width: 360px;
    background: rgba(95, 95, 228, 0.938);
}

.item:hover {
    background: rgba(59, 59, 236, 0.938);
    cursor: pointer;
}

img {
    margin-right: 10px;
}

.small-image {
    border-radius: 50%;
}

.info {
    left: 400px;
    top: 16px;
    position: fixed;
}

.first-name {
    position: absolute;
    left: 140px;
    top: 24px;
}

.last-name {
    position: absolute;
    left: 140px;
    top: 75px; 
}

.searchText {
    width: 355px;
    height: 24px;
}

.inputFieldDiv {
    width: 360px;
    background: rgba(95, 95, 228, 0.938);
    margin-bottom: -10px;
}